/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mars 2022, 10:07:56
    Author     : DALI CHARFEDDINE
*/

.search-box{
    -fx-background-color:#42060C;
    -fx-background-radius:100;
    
}
search-box{
    -fx-background-color:#ffffff;
    -fx-background-radius:100;
    
}
.transparent{
 -fx-background-color:  rgba(0,0,0,0);   
}
.search-button{
    -fx-background-color:#42060C;
    -fx-background-radius:80;
}
.right-bar{
    -fx-background-color:#ffffff;
}
    .left-bar{
    -fx-background-color:#42060C;
}


.button{
    
   -fx-background-color:#42060C;
}
.button-hover{
     
   -fx-background-color:#ffffff;
    
}
.button-pressed{
     
   -fx-background-color:#42060C;
}
.table-view .column-header,
.table-view .column-header-background.filler{
    -fx-cell-size:20;
    -fx-background-color:#42060C
}

.table-view .cell{
  -fx-cell-size:30; 
  -fx-alignment: CENTER_LEFT;
   fx-text-fill: #000000;
   -fx-alignment: CENTER_LEFT;
}
.table-row.cell:selected.text{
    -fx-fill :white;
}
.loginButton{
    -fx-background-color:#00AEFF;
    -fx-text-fill:white; 
}